<h1><a href="/" title="home">Develom Website</a></h1>

  <p>The Graphic Design program helps students to develop skills in listening, negotiating, research, thinking creatively, idea generation, and manipulating visual languages and techniques. Students are encouraged to cultivate and share ideas, as well as develop their own philosophy and unique way of working. </p>
  <blockquote>Roux Academy's Graphic Desgin program helped me mature both as a designer and as a creative professional. Their cross-disciplinary approach helped me see multiple sides and solutions to every problem I encountered, and that's something that has translated to how I approach design in my career. Roux Academy was tremendously important in helping shape the designer I've become. <span class="quote">&#8211;Tabitha Knowles, Lead Designer Veroscare Partners</span></blockquote>
  <h2>Required Curriculum</h2>
  <p>While every program is different and course loads are tailored to meet the individual student&rsquo;s needs, this list represents the required curriculum for any student seeking a BA in Graphic Design.</p>

<article>
  <table cellpadding="0">
  <caption>First Semester course load for Graphic Design degree</caption>
  <colgroup>
  <col>
  <col>
  </colgroup>
    <tr>
      <th scope="col">First Semester</th>
      <th scope="col">credit hours</th>
    </tr>
      
    <tr>
      <td><strong>ART101</strong> Introduction to Art</td>
      <td>3</td>
    </tr>
      
    <tr>
      <td><strong>ART102</strong> Two Dimensional Design</td>
      <td>1</td>
    </tr>
      
    <tr>
      <td><strong>RA001</strong> Introduction to the College Experience</td>
      <td>1</td>
    </tr>
      
    <tr>
      <td><strong>ARTH100</strong> Introduction to Art History</td>
      <td>3</td>
    </tr>
      
    <tr>
      <td><strong>CSC101</strong> The Role of Computers in Design</td>
      <td>3</td>
    </tr>
      
    <tr>
      <td><strong>HMN201</strong> Beginning Copy Writing</td>
      <td>3</td>
    </tr>
      
    <tr>
      <td><strong>PHO101</strong> Black and White Photography</td>
      <td>3</td>
    </tr>
      
  </table>

</article>
